<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<main class="container">
		<section class="about">
			<img src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.plainwhite.name }}">
			<h2>{{ site.plainwhite.name }}</h2>
			<p class="tagline">{{ site.plainwhite.tagline }}</p>
			<ul class="social">
                {%- if site.plainwhite.social_links.github -%}
				<a href="https://github.com/"><li><i class="icon-github-circled"></i></li></a>
                {%- endif -%}
                {%- if site.plainwhite.social_links.linkedIn -%}
				<a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
                {%- endif -%}
                {%- if site.plainwhite.social_links.twitter -%}
                <a href="https://twitter.com/moises82873087"><li><i class="icon-twitter-squared"></i></li></a>
                {%- endif -%}
			</ul>
			<p>&copy; 2019</p>
		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>
	

</body>
</html>
<html>
<head>
<title>Ingenieria en Software</title>
</head>
<body>
La ingeniería de software es una aplicación práctica del conocimiento científico para proveer metodologías y técnicas que ayuden a desarrollar sistemas de software a tiempo, y a su vez que aseguren que el desarrollador cumpla con las expectativas de calidad y permanezca dentro del presupuesto.
Objetivos de la IS
Diseñar programas informáticos que se adecúen a las exigencias de la sociedad.
Liderar y acoplar el desarrollo de programaciones complicadas.
Actuar en todas las fases del ciclo de vida de un producto.
Computar los costos de un proyecto y evaluar los tiempos de desarrollo.
Realizar el seguimiento de costes y plazos.
Liderar equipos de trabajo de desarrollo software.
</body>
<html/>`
